@page "/password/list"
@inherits ListPasswordBase

<section class="list-passwords-main">
    
    <MudButton
        Href="/create-password"
        Color="Color.Primary"
        Variant="Variant.Filled"
        EndIcon="@Icons.Material.Filled.Add"
        Class="floating-button">
        NOVO
    </MudButton>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
        <MudText
            Typo="Typo.h4"
            Align="Align.Center"
            Class="mb-4">
            Minhas Chaves
        </MudText>

        <MudTextField
            DebounceInterval="100"
            OnDebounceIntervalElapsed="OnFilterChanged"
            @bind-Value="@Filter"
            Label="Pesquisar"
            Variant="Variant.Outlined"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Clearable="true"/>

        <MudGrid GutterSize="3">
            @foreach (var password in PasswordsFiltered)
            {
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Class="pa-2 mb-4">
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudText Typo="Typo.subtitle1" Class="mb-1">
                                        <b class="card-item-label">Título</b>
                                        <br/>
                                        @password.Title
                                    </MudText>
                                    <MudText Typo="Typo.body2" Class="mb-1">
                                        <b class="card-item-label">Usuário/Email</b>
                                        <br/>
                                        @password.UserOrEmail
                                    </MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudText Typo="Typo.body2" Class="mb-1 text-end">
                                        <b class="card-item-label">Data de Criação</b>
                                        <br/>
                                        @password.CreatedAt.ToString("dd/MM/yyyy")
                                    </MudText>
                                    <MudText Typo="Typo.body2" Class="mb-1 text-end">
                                        <b class="card-item-label">Chave</b>
                                        <br/>
                                        @if (password.ShowPassword)
                                        {
                                            @password.Password
                                        }
                                        else
                                        {
                                            <span>@password.PasswordHash</span>
                                        }
                                    </MudText>
                                </MudItem>
                            </MudGrid>

                        </MudCardContent>

                        <MudCardActions Class="justify-space-between">
                            <MudIconButton
                                Icon="@(password.ShowPassword ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                                Color="Color.Primary"
                                Size="Size.Small"
                                OnClick="() => password.ShowPassword = !password.ShowPassword"/>
                            <MudIconButton
                                Icon="@Icons.Material.Filled.ContentCopy"
                                Color="Color.Primary"
                                Size="Size.Small"
                                OnClick="() => CopyPassword(password.Password)"/>
                            <MudIconButton
                                Icon="@Icons.Material.Filled.Edit"
                                Color="Color.Primary"
                                Size="Size.Small"
                                OnClick="() => EditAsync(password.Id)"/>
                            <MudIconButton
                                Icon="@Icons.Material.Filled.Delete"
                                Color="Color.Error"
                                Size="Size.Small"
                                OnClick="() => DeleteAsync(password.Id)"/>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>

    @* <h3 class="text-center mb-2">Minhas Chaves</h3> *@
    @* *@
    @* <div class="row mb-2 justify-content-end"> *@
    @*     <div class="col-md-12"> *@
    @*         <MudButton *@
    @*             Href="/create-password" *@
    @*             Color="Color.Primary" *@
    @*             Variant="Variant.Filled" *@
    @*             EndIcon="@Icons.Material.Filled.Add" *@
    @*             Class="floating-button" *@
    @*         > *@
    @*             NOVO *@
    @*         </MudButton> *@
    @*     </div> *@
    @* </div> *@
    @* *@
    @* <div class="row"> *@
    @*     <div class="col-md-12"> *@
    @*     <MudTable  *@
    @*         Items="@Passwords"  *@
    @*         Hover="true" *@
    @*         Breakpoint="Breakpoint.Sm"  *@
    @*         LoadingProgressColor="Color.Info"> *@
    @*         <HeaderContent> *@
    @*             <MudTh>Criado em</MudTh> *@
    @*             <MudTh>Titulo</MudTh> *@
    @*             <MudTh>Usuário / Email</MudTh> *@
    @*             <MudTh>Senha</MudTh> *@
    @*             <MudTh Class="text-center">Ações</MudTh> *@
    @*         </HeaderContent> *@
    @*         <RowTemplate> *@
    @*             <MudTd DataLabel="Criado em">@context.CreatedAt.ToString("g")</MudTd> *@
    @*             <MudTd DataLabel="Titulo">@context.Title</MudTd> *@
    @*             <MudTd DataLabel="Usuário / Email">@context.UserOrEmail</MudTd> *@
    @*             <MudTd DataLabel="Senha"> *@
    @*                 @if (context.ShowPassword) *@
    @*                 { *@
    @*                     @context.Password *@
    @*                 } *@
    @*                 else *@
    @*                 { *@
    @*                     @context.PasswordHash *@
    @*                 } *@
    @*             </MudTd> *@
    @*             <MudTd DataLabel="Ações" Class="text-center"> *@
    @*                 @if (context.ShowPassword) *@
    @*                 { *@
    @*                     <MudIconButton *@
    @*                         Icon="@Icons.Material.Filled.Visibility" *@
    @*                         aria-label="visibility" *@
    @*                         Class="mr-2" *@
    @*                         OnClick="() => context.ShowPassword = !context.ShowPassword" *@
    @*                     /> *@
    @*                 } *@
    @*                 else *@
    @*                 { *@
    @*                     <MudIconButton *@
    @*                         Icon="@Icons.Material.Filled.VisibilityOff" *@
    @*                         aria-label="visibility" *@
    @*                         Class="mr-2" *@
    @*                         OnClick="() => context.ShowPassword = !context.ShowPassword" *@
    @*                     /> *@
    @*                 } *@
    @*                  *@
    @*                 <MudIconButton *@
    @*                     Icon="@Icons.Material.Filled.CopyAll" *@
    @*                     aria-label="visibility" *@
    @*                     Class="mr-2" *@
    @*                     OnClick="() => CopyPassword(context.Password)"/> *@
    @*                 <MudIconButton *@
    @*                     Icon="@Icons.Material.Filled.Edit" *@
    @*                     aria-label="visibility" *@
    @*                     Class="mr-2"/> *@
    @*                 <MudIconButton *@
    @*                     Icon="@Icons.Material.Filled.Delete" *@
    @*                     aria-label="visibility"/> *@
    @*             </MudTd> *@
    @*         </RowTemplate> *@
    @*     </MudTable> *@
    @*     </div> *@
    @* </div> *@
</section>