@page "/"

<section class="list-passwords-main">
    <h3>Chaves Guardadas</h3>

    <div class="row">
        <div class="col-md-12">
            <MudButton
                Href="/create-password"
                Color="Color.Primary"
                Variant="Variant.Filled"
                EndIcon="@Icons.Material.Filled.Add">
                NOVO
            </MudButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <MudTable 
            Items="@Elements" 
            Hover="true"
            Breakpoint="Breakpoint.Sm" 
            LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Titulo</MudTh>
                <MudTh>Senha</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Titulo">@context.Title</MudTd>
                <MudTd DataLabel="Senha">@context.Password</MudTd>
            </RowTemplate>
        </MudTable>
        </div>
    </div>
</section>