@page "/create-password"
@inherits CreatePasswordBase

<PageTitle>Nova Chave</PageTitle>

<section class="create-password-main">
    <h3 class="text-center mb-2">Nova Chave</h3>
    <div class="row mb-2">
        <div class="col-md-12">
            <MudButton
                Href="/password/list"
                Color="Color.Primary"
                Variant="Variant.Outlined"
                EndIcon="@Icons.Material.Filled.ArrowBack">
                VOLTAR
            </MudButton>
        </div>
    </div>
    
    <EditForm Model="@CreatePasswordForm" OnValidSubmit="OnSubmitAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-12">
                <MudTextField
                    Label="Titulo"
                    Variant="Variant.Outlined"
                    @bind-Value="CreatePasswordForm.Title"
                    For="@(() => CreatePasswordForm.Title)"
                />
            </div>
            <div class="col-md-12">
                <MudTextField
                    Variant="Variant.Outlined"
                    Label="Usuário ou Email"
                    @bind-Value="CreatePasswordForm.UserOrEmail"
                    For="@(() => CreatePasswordForm.UserOrEmail)"
                />
            </div>
            <div class="col-md-12">
                <MudTextField 
                    Variant="Variant.Outlined"
                    Label="Senha"
                    @bind-Value="CreatePasswordForm.Password"
                    For="@(() => CreatePasswordForm.Password)"
                />
            </div>
        </div>
        <div class="footer">
            <MudButton
                ButtonType="ButtonType.Submit"
                Variant="Variant.Filled"
                Color="Color.Primary"
                Class="ml-auto"
                EndIcon="@Icons.Material.Filled.Save"
            >
                SALVAR
            </MudButton>
        </div>
    </EditForm>
</section>