@page "/create-password"
@using JheyPassword.Business.Interfaces.Services
@inject ICreatePasswordService CreatePasswordService
@inherits CreatePasswordBase

<PageTitle>Guardar Senha</PageTitle>

<h3>Guardar Senha</h3>

<EditForm Model="@CreatePasswordForm" OnValidSubmit="OnSubmitAsync">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-12">
            <MudTextField
                Label="Titulo"
                Variant="Variant.Outlined"
                @bind-Value="CreatePasswordForm.Title"
                For="@(() => CreatePasswordForm.Title)"
            />
        </div>
        <div class="col-md-12">
            <MudTextField
                Variant="Variant.Outlined"
                Label="Usupário ou Email"
                @bind-Value="CreatePasswordForm.UserOrEmail"
                For="@(() => CreatePasswordForm.UserOrEmail)"
            />
        </div>
        <div class="col-md-12">
            <MudTextField 
                Variant="Variant.Outlined"
                Label="Senha"
                @bind-Value="CreatePasswordForm.Password"
                For="@(() => CreatePasswordForm.Password)"
            />
        </div>
    </div>
    <div class="footer">
        <MudButton
            ButtonType="ButtonType.Submit"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Class="ml-auto"
            EndIcon="@Icons.Material.Filled.Save"
        >
            SALVAR
        </MudButton>
    </div>
</EditForm>